src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">





	<flow name="api-main">
		<http:listener
			config-ref="apiHttpsListenerConnector"
			path="/api/v1/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="apiKitConnector" />
		<error-handler ref="api-main-error-handler" />
	</flow>



	<flow name="api-console">
		<http:listener
			config-ref="apiHttpsListenerConnector"
			path="/console/v1/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="apiKitConnector" />
		<error-handler ref="api-console-error-handler" />
	</flow>



	<flow name="put:\tickets\(PNR)\checkin:application\json:apiKitConnector">
		<flow-ref
			doc:name="setPNR"
			doc:id="918b6d80-e6d0-401b-8934-ad078e33ba9f"
			name="setPNR" />
		<flow-ref
			doc:name="check-in-by-pnr"
			doc:id="39e33038-489e-4b58-8096-681327fff24c"
			name="check-in-by-pnr" />
	</flow>



	<flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiKitConnector">
		<flow-ref
			doc:name="setPNR"
			doc:id="b080c5b7-d404-492c-a513-819c0070dd88"
			name="setPNR" />
		<flow-ref
			doc:name="payment-approval-by-pnr"
			doc:id="3ce57487-3008-46f2-815c-b7765b21db48"
			name="payment-approval-by-pnr" />
	</flow>



	<flow name="get:\tickets\(PNR):apiKitConnector">
		<flow-ref
			doc:name="setPNR"
			doc:id="baad214c-dc66-4b8b-883a-4ae0913ed879"
			name="setPNR" />
		<flow-ref
			doc:name="get-ticket-by-pnr"
			doc:id="2ec0ff64-5b8f-480a-99ff-4ea35adc725b"
			name="get-ticket-by-pnr" />
	</flow>



	<sub-flow
		name="setPNR"
		doc:id="21a0bb11-558f-4dfa-8efe-496b0b5cd887">
		<ee:transform doc:name="Capture PNR">
			<ee:variables>
				<ee:set-variable variableName="PNR"><![CDATA[message.attributes.uriParams.'PNR']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>



</mule>
